*{
    margin:0;
    padding:0;
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color:black;
}
header{
    background-color: brown;
    padding:30px;
    text-align:center;
    color:white;
}
.divInfo{
    background-color:gainsboro;
    border:2px solid rgb(194, 46, 46);
    width:30%;
    margin:auto;
    padding:30px;
}
.divInfo{
    margin-top:2%;
    margin-bottom:1%;
}
.divInfo input{
    width:64%;
    padding:5px 0px 5px 0px;
}
.inputName{
    margin-bottom:20px;
}
.inputEmail{
    margin-bottom:20px;
}
.txtMessage{
    margin-bottom:20px;
}
.btnSend{
    border:none;
    background-color:brown;
    color:white;
    width:60%;
    padding:10px;
    border-radius:5px;

}
.btnSend:hover{
    cursor: pointer;
    background-color:rgb(65, 17, 17);
}
footer{
    background-color: brown;
    padding:30px;
    text-align:center;
    color:white;
}
.redes img{
    margin:10px 10px 0px 10px;
    border-radius:50%;
    background:rgb(214, 194, 194);
    border:1px solid rgb(201, 180, 180);
    transition: transform .3s;
    width:30px;
}
.redes img:hover{
    cursor: pointer;
    transform: scale(1.2);
}